.active {
    background-image: linear-gradient(to bottom right, red, yellow);
    color: black;
    border-width: 4px;
    border-color: black;
}

.inactive {
    background-color: grey;
    color: black;
    border-color: black 
}

.btn-group {
    width: 200px;
    height: 50px;
    background: aquamarine;
    border-radius: 1px;
    border-color: black;
}