.square {
    height: 50px;
    width: 50px;
    display: inline-block;
}

.inactive-square {
    background-color: darkgrey;
}

.hover {
    background-color: yellow;
}

.active-square1 {
    background-color: orange;
}

.active-square2 {
    background-color: red;
}

.active-square3 {
    background-color: purple;
}

.active-square4 {
    background-color: pink;
}